q {
    font-style: italic;
}
article {
    background-color: #f1f1f1;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    padding: 16px;
    border-radius: 10px;
}
.author {
    display: flex;
    flex-direction: row;
    padding: 5px;
    margin: 0;
    align-items: center;
}
.avatar {
    margin: 10px;
    vertical-align: middle;
    width: 75px;
    height: 75px;
    border-radius: 50%;
}
.container {
    display: grid;
    width: 95vw;
    height: 100vh;
    margin: auto;
    grid-template-rows: 200px 1fr;
    grid-template-columns: 95vw;
    grid-template-areas:
    "hd"
    "main"
    "ft";
}
.content {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-area: main;
    width: 100%;
    margin: auto;
}
.travel {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.icon {
    width: 35px;
    height: 35px;
}