@import 'base.css';
@import 'blog-post.css';
@import 'post-media.css';
/* html {
    background: #f0f0f0;
} */
/* q {
    font-style: italic;
} */
/* .header {
    grid-area:hd;
    border-radius: 10px 10px 0 0;
    display: inline-block;
    padding: 10px;
    text-align: left;
    color: #fffff8;
    font-size: 30px;
    background: url('../images/header1.jpg');
    background-size: cover;
}
.header-text {
    padding: 30px;
}
.header h1 {
    margin: 0;
}
.header p {
    margin: 0;
} */
/* article {
    background-color: #f1f1f1;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    border-radius: 10px;
}
.author {
    display: flex;
    flex-direction: row;
    padding: 5px;
    margin: 0;
    align-items: center;
}
.avatar {
    margin: 10px;
    vertical-align: middle;
    width: 75px;
    height: 75px;
    border-radius: 50%;
}
.container {
    display: grid;
    width: 95vw;
    height: 100vh;
    margin: auto;
    grid-template-rows: 200px 1fr;
    grid-template-columns: 95vw;
    grid-template-areas:
    "hd"
    "main"
    "ft";
}
.content {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-area: main;
    width: 100%;
    margin: auto;
} */
/* footer {
    grid-area:ft;
} */
/* .travel {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.icon {
    width: 35px;
    height: 35px;
} */
/* @media(max-width:320px) {
    .container{
        display: grid;
        width: 80vw;
        height: 100vh;
        margin: auto;
    }
}
@media(min-width:900px) {
    .container{
        display: grid;
        width: 80vw;
        height: 100vh;
        margin: auto;
        grid-template-rows: 200px 1fr;
        grid-template-columns: 80vw;
        grid-template-areas:
        "hd"
        "main"
        "ft";
        }
} */