/* If Screen Is Wide Enough */
@media(max-width:320px) {
    .header {
        font-size: 24px;
    }
    .container {
        display: grid;
        height: 100vh;
        margin: auto;
        grid-template-rows: 200px 1fr;
        grid-template-areas:
        "hd"
        "sd"
        "main"
        "ft";
    }
}
@media(min-width: 600px) and (max-width: 900px) {
    .sidebar {
        display: flex;
        justify-content: center;
    }
    ul {
        display: flex;
        flex-direction: row;
        gap: 20px;
    }
    li {
        margin: 10px;
    }
    .content {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
      }

}
@media(min-width:901px) {
    .container {
        display: grid;
        width: 80vw;
        height: 100vh;
        margin: auto;
        grid-template-rows: 200px 1fr;
        grid-template-columns: auto auto;
        grid-template-areas:
        "hd hd hd"
        "sd  main main"
        "ft ft ft";
        /* border: 2px solid red; */
      }
      .content {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
      }
}