html {
    background: #f0f0f0;
}
ul {
    list-style-type: none;
}
li {
    margin: 10px;
}
p {
    word-wrap: none;
    word-break: break-all;
}
/* .box{
    border: 1px solid red;
    background: #fffff8;
} */
.header{
    grid-area:hd;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    background: rgb(139, 155, 199);
    color: #fffff8;
    font-size: 30px;
    background: url('../images/header.jpg');
}
/* .button{
    border: none;
    background-color: inherit;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    background-color: #4CAF50;
} */
.sidebar{
    grid-area:sd;
    display: flex;
    justify-content: left;
}
.container {
    grid-template-rows: 200px 1fr;
}
.content{
    grid-area:main;
    display: grid;
    grid-gap: 10px;
    grid-template-rows: minmax(150px, 1);
    padding: 10px;
}
footer{
    grid-area:ft;
}
.card{
    display:flex;
    background-color: #f1f1f1;
}
.blogcard {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    padding: 16px;
    text-align: center;
    border-radius: 10px;
}
/* If Screen Is Wide Enough */
@media(max-width:320px){
    .header{
        font-size: 24px;
    }
    .container{
        display: grid;
        height: 100vh;
        margin: auto;
        grid-template-rows: 200px 1fr;
        grid-template-areas:
        "hd"
        "sd"
        "main"
        "ft";
    }
    }
@media(min-width: 600px) and (max-width: 900px){
    .sidebar{
        display: flex;
        justify-content: center;
    }
    ul {
        display: flex;
        flex-direction: row;
        gap: 20px;
    }
    li {
        margin: 10px;
    }

}
@media(min-width:901px){
    .container {
        display: grid;
        width: 80vw;
        height: 100vh;
        margin: auto;
        grid-template-rows: 200px 1fr;
        grid-template-columns: auto auto;
        grid-template-areas:
        "hd hd hd"
        "sd  main main"
        "ft ft ft";
        /* border: 2px solid red; */
      }
      .content {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
      }
    }